{% extends "../../base.admin.html" %} {% block titulo %} Lista de Dashboard
Ventas {% endblock %} {% block content %}

<div class="card-header mb-3">
  <a href="{% url 'create' %}" class="btn btn-success">
    <i class="bi bi-plus-lg"></i> Agregar Registro
  </a>
</div>
<div class="card-body">
  <h5 class="card-title mb-3">Data de Ventas</h5>
  <div class="table-responsive">
    <table
      class="table table-hover align-middle display responsive nowrap"
      style="width: 100%"
    >
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>row_id</th>
          <th>order_id</th>
          <th>order_date</th>
          <th>ship_date</th>
          <th>ship_mode</th>
          <th>customer_id</th>
          <th>customer_name</th>
          <th>segment</th>
          <th>country</th>
          <th>city</th>
          <th>state</th>
          <th>postal_code</th>
          <th>region</th>
          <th>product_id</th>
          <th>category</th>
          <th>sub_category</th>
          <th>product_name</th>
          <th>sales</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for venta in ventas %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ venta.row_id }}</td>
          <td>{{ venta.order_id }}</td>
          <td>{{ venta.order_date }}</td>
          <td>{{ venta.ship_date }}</td>
          <td>{{ venta.ship_mode }}</td>
          <td>{{ venta.customer_id }}</td>
          <td>{{ venta.customer_name }}</td>
          <td>{{ venta.segment }}</td>
          <td>{{ venta.country }}</td>
          <td>{{ venta.city }}</td>
          <td>{{ venta.state }}</td>
          <td>{{ venta.postal_code }}</td>
          <td>{{ venta.region }}</td>
          <td>{{ venta.product_id }}</td>
          <td>{{ venta.category }}</td>
          <td>{{ venta.sub_category }}</td>
          <td>{{ venta.product_name }}</td>
          <td>{{ venta.sales }}</td>
          <td>
            <a
              href="{% url 'edit' venta.id %}"
              class="btn btn-sm btn-outline-secondary me-1"
            >
              <i class="bi bi-pencil-fill"></i> Editar
            </a>
            <a
              href="{% url 'delete' venta.id %}"
              class="btn btn-sm btn-outline-danger btn-delete"
              data-url="{% url 'delete' venta.id %}"
            >
              <i class="bi bi-trash-fill"></i> Borrar
            </a>
          </td>
        </tr>

        {% empty %}
        <tr>
          <td colspan="20" class="text-center">No hay registros disponibles</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
